@import "_variables.scss";
@import "_mixins.scss";

* {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif !important;
  font-size: 1.5rem !important;
  line-height: 2.25rem !important;
  margin: 0 !important;
}
.container {
  max-width: 120rem !important;
}

.container-full {
  max-width: 200rem;
  width: 100%;
  padding: 0 !important;
  margin-left: auto;
  margin-right: auto;
}

.container-inner {
  max-width: 80rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.mar-pad {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  display: block;
}

.block {
  display: block;
}
