@media screen and (max-width: 61.94rem) {
  // Body
  body {
    font-size: 1.8rem !important;
    line-height: 2.4rem !important;
  }

  // About Band
  #about-band {
    .about-member {
      .member-info {
        &:not(:last-child) {
          margin-bottom: 3.2rem;
        }
      }
    }
  }

  // Tour
  .tour-btn-sub {
    font-size: 1.8rem;
    height: 4.8rem;
  }

  #tour {
    .tour-item {
      .buy-ticket {
        .ticket-item {
          &:not(last-child) {
            margin-bottom: 2rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 47.94rem) {
  // Body
  body {
    font-size: 2rem !important;
    line-height: 2.4rem !important;
  }

  @keyframes showNavMobile {
    from {
      opacity: 0;
      transform: translateX(-100%);
    }
    to {
      opacity: 1;
      transform: translateX(0%);
    }
  }

  @keyframes hideIconBars {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  // Navbar
  .nav-list.active {
    display: block !important;
    position: fixed;
    top: 4.6rem;
    left: 0;
    bottom: 0;
    right: 20%;
    z-index: 5;
    animation: showNavMobile 0.3s ease-in;
    .nav-item {
      &:hover .nav-link {
      }
      .nav-link {
        font-size: 1.8rem;
      }
    }
  }

  // Header
  #header {
    .header-inner {
      #navbar {
        .nav-list {
          display: none;
          padding: 0 1.5rem;
          .nav-item {
            .subnav-list {
              width: 100%;
              .subnav-link {
                line-height: 4.6rem;
              }
            }
          }
        }
        .nav-mobile-btn {
          display: block;
          line-height: 4.6rem;
        }
      }
      .search {
        .search-icons {
        }
      }
    }
  }
  // Header Modal
  .header-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($color: #000000, $alpha: 0.4);
  }
  .header-modal.active {
    display: block;
  }

  // Contact
  #contact {
    .contact-content {
      .contact-form {
        margin-top: 3rem;
      }
    }
  }

  // Tour
  .ticket-below {
    .tour-btn-sub {
      width: 40%;
    }
  }
}
@media screen and (max-width: 35.94rem) {
  // Tour
  .tour-btn-sub {
    width: 50%;
  }
}
